[2016-03-17 08:40] torfsen opened #3 "Add control to switch city"
As [discussed previously](https://github.com/CodeforKarlsruhe/wo-ist-markt/pull/10#issuecomment-180984029) and [requested by @tursics](https://github.com/CodeforKarlsruhe/wo-ist-markt/issues/17):

We should add a control to switch between the available cities. We could simply make the city headline in the legend an (approppriately styled) dropdown menu.

[2016-03-17 09:53] torfsen opened #4 "HTTPS does not work on wo-ist-markt.de"
It seems that https://wo-ist-markt.de does not work.

[2016-03-20 17:23] dirkschumacher commented on #3
Haven't seen this issue before I submitted this PR #14

[2016-03-20 17:23] dirkschumacher commented on #4
How about using something like this?
https://timmesserschmidt.com/blog/2016/03/18/lets-encrypt-gh-pages/

[2016-03-20 18:18] johnjohndoe commented on #4
Thanks, looks interesting. We should take a look at it at one of the next meetups.

[2016-03-21 20:13] johnjohndoe commented on #3
Resolved in 6f802bea6c184ca5f3f35ec1d17e46ce1ce4c8a4.

[2016-03-21 20:13] #3 closed

[2016-03-22 09:14] torfsen opened #20 "wo-ist-markt.de yields 404"
Currently http://wo-ist-markt.de yields 404 for me.

[2016-03-22 09:20] johnjohndoe commented on #20
Yes. I started experimenting with #4 yesterday night. I will revert the changes soon if I do not get it working.

[2016-03-22 10:22] johnjohndoe commented on #20
I reverted the DNS settings. Everything back to normal. I might try again later.

[2016-03-22 20:32] johnjohndoe commented on #20
Kloudsec fixed an issue on their European nodes. I will try again now.

[2016-03-22 21:30] johnjohndoe commented on #20
Seems to work now. Also `https://`.

[2016-03-23 08:03] johnjohndoe commented on #20
Thanks to @k-nut I switched the tile provider to SSL. Now it seems to be working.

![https-wim](https://cloud.githubusercontent.com/assets/144518/13979055/fe1fe7a6-f0d5-11e5-91d4-38fa1dfdb27e.png)

Please confirm here using the new GitHub upvoting feature.

[2016-03-23 08:03] torfsen commented on #20
HTTP works for me.

HTTPS works, but the certificate is invalid since it doesn't contain the `wo-ist-markt.de` domain:
[code]

[2016-03-23 08:06] johnjohndoe commented on #20
@torfsen Please try again. I just applied the change.

[2016-03-23 10:10] torfsen commented on #20
Works perfectly, awesome!

[2016-03-23 10:10] #20 closed

[2016-03-23 10:11] torfsen commented on #4
Closed, see #20.

[2016-03-23 10:13] johnjohndoe commented on #4
Related commits: bcb8dd479b7db01a2209ebd89a48fa18e97e6a68, d60c4f728fa1c0a886ba28cf1fdf13d8584713e9
Further, DNS setting have been changed to use Kloudsec.

[2016-03-23 16:57] johnjohndoe opened #21 "Select field "other city" does not work on mobile"
I noticed that the **other city select box** added in #14 does not work when the website is visited on an Android phone (default browser). It does not respond when one touches it.
Also it should be larger on mobile to allow easier targeting.

![Website on smartphone](https://cloud.githubusercontent.com/assets/144518/13993257/df431264-f11f-11e5-8c64-e8514839d08e.png)

[2016-03-23 17:09] torfsen opened #22 "Make the city dropdown part of the legend title"
Currently the city selection dropdown is a separate control at the bottom of the legend. I propose to use an appropriately styled dropdown as part of the legend title instead:

    Wo ist Markt in [Berlin   ▼]?

This has the following advantages:

* It reduces the size of the (already quite large) legend. That's especially important on mobile.
* It reduces the visual clutter by removing redundant

[2016-03-23 17:15] johnjohndoe opened #23 "Improve string generating of city label"
Cities labels are currently parsed from the city .json file names in the `cities/` folder. As you can see from the screenshot there is some potential to improve the city label for "Neu-ulm".

![neu-ulm](https://cloud.githubusercontent.com/assets/144518/13993994/0a146742-f123-11e5-916d-77446e3c6354.png)

[2016-03-25 20:28] torfsen opened #25 "Replace legend"
I think the legend is annoying, especially on mobile. It's also not very versatile and pretty limited in space, so I'd like to think about alternatives. I have something in mind for which I'll prepare a prototype, but I'd also like to hear other people's opinion about the legend and possible alternatives.

[2016-03-25 21:48] torfsen opened #26 "Avoid page reload on city change"
In my opinion there is no need for a full page reload when the city changes. On page load we should load the list of cities and the currently active city. When another city is chosen we can just load that city data and update the map. Hopefully that's faster than reloading the whole page.

[2016-03-25 21:54] torfsen opened #27 "Remove redundant location data"
Many markets seem to have `location` set to the same value as `title`. The corresponding pop-up therefore simply contains the same string twice, once as a heading and once as normal text. `location` should only be used if it adds additional information, for example if `title` specifies the suburb and `location` the precise address.

We should go through the data and check the redundant `location`

[2016-03-25 21:55] torfsen commented on #21
PR #24 fixes this.

[2016-03-26 10:07] johnjohndoe commented on #27
I agree that showing duplicate content in the title and the location fields does not make sense. In Berlin this problem has been addressed lately by me through a telephone call with the data provider. I asked split the [`location` field](https://github.com/wo-ist-markt/wo-ist-markt.github.io/blob/master/preprocessing/berlin/raw/markets-berlin.json?short_path=e71530f#L19) in the raw data into two s

[2016-03-26 10:14] johnjohndoe commented on #25
Another inspiration: @tursics uses a separate page for the _Impressum_ of his [_Kiez Karte_](http://kiez-karte.berlin).

[2016-03-26 10:34] johnjohndoe commented on #25
@k-nut Any suggestions? You did this a couple of times in your projects I would think.

[2016-03-26 20:28] torfsen opened #30 "Add a loading screen"
As discussed in #24 it would be nice to have a loading screen while
- [ ] the JS loads
- [ ] the list of cities loads
- [ ] the data of the current city loads

[2016-03-30 19:33] torfsen commented on #4
I'm still having problems with this (as of  50f990a).

First of all, https://www.wo-ist-markt.de (with `www`) doesn't work for me at all:

    www.wo-ist-markt.de uses an invalid security certificate. The certificate is only valid
    for the following names:
    www.github.com, *.github.com, github.com, *.github.io, github.io, *.githubusercontent.com,
    githubusercontent.com

    Error code: SS

[2016-04-01 10:25] johnjohndoe commented on #4
I removed the `A` record for `192.30.252.153` now.  Here is the current DNS setup:

![wo-ist-markt-dns-1](https://cloud.githubusercontent.com/assets/144518/14204445/b22fd974-f804-11e5-9fce-7f4133101f83.png)

Let's see if this helps.

[2016-04-02 19:34] torfsen commented on #4
This seems to have helped, @johnjohndoe: For me https://wo-ist-markt.de now works on Firefox (desktop + mobile), Chrome (desktop + mobile), Opera (desktop) and the Android standard browser.

https://www.wo-ist-markt.de still fails on all of them due to the certificate only being valid for the GitHub domains (see above). I'm not sure whether we need to support the `www` subdomain but it should eith

[2016-04-02 19:57] torfsen opened #32 "Remove fork status"
TL;DR: I suggest that we remove the fork dependency to the original repository at CodeForKarlsruhe.

I first started work on what is now wo-ist-markt.de at the OK Lab Karlsruhe, and the [initial repository](https://github.com/CodeforKarlsruhe/wo-ist-markt) was created in our GitHub organization. After @johnjohndoe's contributions and the decision to open the app up to many more cities this new rep

[2016-04-03 08:54] johnjohndoe commented on #4
I am fine with leaving it as it is now.

[2016-04-04 19:28] johnjohndoe opened #33 "Initialize map with bounding box"
I would like to discuss whether it makes more sense to use a [bounding box](http://leafletjs.com/reference.html#latlngbounds) instead of `coordinates` and `zoom_level` to exactly match the area of markets in a city. Dependent on the distribution of markets and the screen size locations are displayed suboptimal.

[code]

Proposal:

[code]

What's your opinion on this?

[2016-04-05 13:25] torfsen commented on #33
Yes, that's something that I also have been thinking about. A bounding box is a good idea -- we can then use Leaflet's [`fitBounds` function](http://leafletjs.com/reference.html#map-fitbounds) to ensure that the bounding box is visible.

[2016-04-05 13:34] torfsen commented on #4
Is there a way to disable the `www` subdomain completely? I don't think that we need it, but in its current state (i.e. throwing an error when used with HTTPS) it will confuse people.

[2016-04-05 13:42] torfsen opened #36 "Add explicit city list data file"
As discussed in #29 we should create a separate JSON file that lists the available cities. The file should contain a list of the cities' display names, e.g.
[code]
These display names are to be used in the UI (legend title, dropdown item labels).

In addition we need city IDs for the fragment (`wo-ist-markt.de#city`), for the filenames and for the dropdown item names. These city IDs are generated

[2016-04-05 13:43] torfsen commented on #23
As discussed in #29 we're going to explicitly list the city names instead. See #36.

[2016-04-05 13:43] #23 closed

[2016-04-05 21:51] #21 closed

[2016-04-05 21:51] #22 closed

[2016-04-08 05:11] torfsen commented on #32
Any thoughts, @johnjohndoe?

[2016-04-08 20:00] torfsen commented on #32
I've asked GitHub support to detach this repository.

[2016-04-08 20:08] johnjohndoe commented on #25
@torfsen Do you want to post what you have "in mind" as a sketch or similar?

[2016-04-08 20:54] torfsen commented on #25
@johnjohndoe, yes, I'll prepare a prototype as soon as I find time for it :wink:

My basic idea is to use a header at the top of the page for the most important information: The title (including the dropdown), the time selection radio buttons and a button for toggling a larger version of the header that includes details like the data source, GitHub links, etc.

[2016-04-08 20:57] johnjohndoe commented on #25
Please consider moving less frequent consume parts to a separate page.

[2016-04-10 07:00] torfsen commented on #32
The repository has been detached.

[2016-04-10 07:00] #32 closed

[2016-04-10 09:55] johnjohndoe commented on #32
Awesome.

[2016-04-10 10:23] #26 closed

[2016-04-10 17:29] johnjohndoe opened #38 "Promote website"
More and more cities are joining the project which is great. In order to become mainstream everyone can help to spread the word.

To start, I suggest to contact city officials to **link to the project**:
* on their website,
* in the data portal
* or anywhere near the data source.

I would like to delegate this task to the **contributors** from each city. Some have already done so. Please **documen

[2016-04-10 17:31] johnjohndoe commented on #38
* [x] Berlin: http://daten.berlin.de/anwendungen/wo-ist-markt

[2016-04-11 06:26] torfsen opened #39 "Time-selection controls don't update correctly upon city change"
The time-selection radio buttons in the legend don't update correctly when the city is changed. In particular, if you switch from a city where there's no market today (i.e. where only the "alle" button is enabled) to a city which does have markets today then the other radio buttons are not re-enabled.

[2016-04-11 06:34] torfsen opened #40 "Improve behavior when no city is selected"
I think it's time to improve the behavior when no city is selected, i.e. when a user simply visits https://wo-ist-markt.de. Right now this auto-selects Karlsruhe, which was fine when this was primarily a project of the OK Lab Karlsruhe. Now, however, Karlsruhe should lose that special status.

Here's a suggestion of what we can do instead:
1. Try to look up the user's location via the [geolocation

[2016-04-11 08:01] MarHai commented on #38
- [x] München: https://www.opengov-muenchen.de/dataset/maerkte/related

[2016-04-11 15:13] karen-sch commented on #38
- [x] Köln: http://www.offenedaten-koeln.de/anwendungen

[2016-04-12 06:00] johnjohndoe opened #44 "Validate market data"
I am currently working on a script which will validate the market data. I start with approving the opening hours format. The script will be automatically executed on Travis CI whenever a pull request is created.

[2016-04-12 09:40] torfsen commented on #44
Good idea! Please integrate your script into our current test setup, so that running `npm test` executes it.

[2016-04-12 11:52] ubergesundheit commented on #38
- [x] Münster http://www.muenster.de/stadt/maerkte/markt.html

[2016-04-12 13:19] torfsen opened #46 "Back-button is broken when city is auto-selected"
If no city is specified and Karlsruhe gets auto-selected then the back-button doesn't work: Pressing the back-button goes from `/#karlsruhe` to `/`, which automatically redirects to `/#karlsruhe`.

Solution: The auto-selection should not push a new history entry.

[2016-04-12 21:56] johnjohndoe commented on #44
@torfsen I push a draft to [this branch](https://github.com/wo-ist-markt/wo-ist-markt.github.io/tree/markets-validation-44). Can you please review this and tell me how I can integrate it with Travis CI?

[2016-04-13 12:58] k-nut commented on #44
Created a PR for this #48 . Essentially it is just one line in the `.travis.yml`

[2016-04-13 19:10] dirkschumacher opened #50 "Search field for cities triggers keyboard on android on page load"
When I load the page on Android Firefox, the search input text box always triggers my keyboard. The keyboard then hides half of the screen.This is quite annoying.

Maybe we disable the search box for now? There are so few cities at the moment or we fix the autofocus.

[2016-04-13 22:37] johnjohndoe commented on #44
Branch updated. Please review again.

[2016-04-14 06:07] johnjohndoe opened #52 "Karlsruhe: Add location for markets"
I am currently [working on a validation script](https://github.com/wo-ist-markt/wo-ist-markt.github.io/issues/44) for the market data. This identified a few issues for Karlsruhe:

[code]

Can you please update _karlsruhe.json_?

[2016-04-14 06:08] johnjohndoe opened #53 "Leipzig: Add location for markets"
@Drake81 @paesku I am currently [working on a validation script](https://github.com/wo-ist-markt/wo-ist-markt.github.io/issues/44) for the market data. This identified one issues for Leipzig:

[code]

Can you please update _leipzig.json_?

[2016-04-14 08:27] torfsen commented on #52
Is there a reason why `location` cannot be `null`? In my understanding it always was an optional field that could be used to specify the precise location in case the (mandatory) `title` was not enough. In the cases you listed the `title` is precise enough, so there's no need for further information.

See also #27.

[2016-04-14 08:35] torfsen commented on #50
Interesting, that didn't happen for me (or I didn't notice it). I would prefer to disable the autofocus instead, otherwise we get the same problem again once we have enough cities to require a search box.

[2016-04-14 16:54] johnjohndoe commented on #52
In an ideal data setup `title` should contain the well known name of the market as in `Kirchenmarkt Rüppurr` or a type qualifier as in `Trödelmarkt Oberreut`. The `location` field should provide detailed address information as in `Auf dem Julius-Leber-Platz` or `Vor der Christ-König-Kirche`.

[2016-04-14 17:54] johnjohndoe commented on #44
Updated (renamed "warning" to "error" basically). Updated documentation.

[2016-04-14 19:40] dirkschumacher commented on #50
No wait. I checked it again. It does not happen on page load but when you click on the city option. There the auto focus happens.

[2016-04-15 09:42] johnjohndoe commented on #40
3\. Automatically pick a random city from them list and display it.

[2016-04-15 12:49] torfsen commented on #52
I see you point, but on some markets there is simply no difference between these two. Of course I can use a title of `Wochenmarkt Werderplatz` and a location `Auf dem Werderplatz`, but for me that's just clutter compared to simply using a title of `Werderplatz`, in particular since we only cover traditional farmer markets in Karlsruhe.

I like your addition of a validation step, but I do think tha

[2016-04-15 12:56] torfsen commented on #50
Ah, OK. Well that makes sense, I guess, because that's how dropdown controls with a search field work :wink: I think the problem here is that our dropdown control library (`select2`) uses the same UI approach on all platforms. I first used `chosen` which defaults to the built-in UI for mobile platforms and therefore would probably handle your problem better, but unfortunately `chosen` had other is

[2016-04-15 15:12] johnjohndoe commented on #52
@torfsen I refactored the validator to differentiate between warnings and errors.

[2016-04-17 12:57] johnjohndoe opened #58 "München: Field 'opening_hours_unclassified' cannot be empty when 'opening_hours' is null."
@MarHai I am currently [working on a validation script](https://github.com/wo-ist-markt/wo-ist-markt.github.io/issues/44) for the market data. This identified a some issues for München:

[code]

Can you please update _münchen.json_? You might want to use the attribute `opening_hours_unclassified` to express opening hours which cannot be parsed automatically. More information [here](https://github.

[2016-04-17 19:07] torfsen commented on #4
@johnjohndoe: Any thoughts on disabling `www` completely? Otherwise please close.

[2016-04-18 19:59] johnjohndoe commented on #4
@torfsen I just did not invest time to research how I can configure _Kloudsec_ to let _Let's encrypt_ also serve `www` with a valid certificate. Please leave the issue open.

[2016-04-18 20:02] johnjohndoe commented on #44
@k-nut @tursics @dirkschumacher Please review.

[2016-04-19 06:07] k-nut commented on #44
@johnjohndoe can you make this into a PR so that we can comment on your changes?

[2016-04-19 06:52] torfsen commented on #4
OK, no problem.

[2016-04-19 21:14] johnjohndoe commented on #44
@k-nut Done in #63.

[2016-04-20 20:44] dirkschumacher opened #65 "Introduce some kind of market classification"
It'd be great to know if a market is a farmers market or a trödel market or something else. Ideally there would be a property having one or more classes.

Just an idea.

[2016-04-20 20:48] dirkschumacher commented on #40
This relates to #59. We could add a bounding box to each city. That would make it quite easy to decide if the user is currently located within one of our supported cities. However, you have to allow the location service first for 1. to work which might be a bit annoying.

What about a nice landing page?

[2016-04-20 20:55] dirkschumacher opened #66 "Support lat/long as parameters"
I would like to be able to deep-link to a specific lat/long coordinate:
https://wo-ist-markt.de/?city=berlin&lat=123.456&lon=123.456
or
https://wo-ist-markt.de/?lat=123.456&lon=123.456#berlin

This would display the map at that point zoomed in a little more.

Use case: my bot tells the user the 3 nearest places. I would like to provide a link that shows the markets around the user's current positi

[2016-04-20 22:05] johnjohndoe commented on #58
@MarHai Do you have to time to work on this issue?

[2016-04-21 05:50] MarHai commented on #58
Hi there. Sorry but I was/still am (slightly) ill and in bed all time. I try to have a look at it as soon as I am fully functional again.

[2016-04-22 09:54] torfsen commented on #40
@dirkschumacher: A landing page is basically what I was thinking of with (2)

I don't have any experiences with geolocation, so maybe we could use a popup/landing page which provides an additional suggestion if geolocation is available. For example, the landing page could by default show a small map of Germany with a marker for each city with market data. If geolocation is available it would then

[2016-04-22 11:56] dirkschumacher opened #68 "Discuss how to handle multiple markets at one location in Berlin"
<img width="350" alt="bildschirmfoto 2016-04-22 um 12 28 53" src="https://cloud.githubusercontent.com/assets/1569647/14740811/fbc86162-0891-11e6-92ea-991898f72792.png">

[2016-04-22 13:28] johnjohndoe commented on #53
I close this issue since [we decided that the `location` field is optional](https://github.com/wo-ist-markt/wo-ist-markt.github.io/pull/63#discussion_r60352387).

[2016-04-22 13:28] #53 closed

[2016-04-22 13:29] johnjohndoe commented on #52
I close this issue since [we decided that the `location` field is optional](https://github.com/wo-ist-markt/wo-ist-markt.github.io/pull/63#discussion_r60352387).

[2016-04-22 13:29] #52 closed

[2016-04-22 20:19] torfsen commented on #68
Interesting... I think information about all markets at the same location should be accessible at all time (e.g. we shouldn't simply hide all but the currently active market). With only two markets one could think about displaying them side-by-side, but that doesn't scale to more markets and small displays. Perhaps tabs in the popup?

This will also require us to add support for multiple markets p

[2016-04-22 20:44] johnjohndoe commented on #68
Another option would be to assign **slightly different coordinates** to the markets. Since a market is not a one point location anyway this would be a workaround which allows displaying multiple markers for the same location.

[2016-04-22 21:00] johnjohndoe opened #76 "Münster: Please use ":" as hour/minute-separator"
@ubergesundheit I am currently [working on a validation script](https://github.com/wo-ist-markt/wo-ist-markt.github.io/issues/44) for the market data. This identified a some issues for Münster:

[code]

Can you please update _münster.json_?

[2016-04-22 21:03] torfsen commented on #68
@johnjohndoe: That's a nice workaround for the time being!

I think I'd still prefer a one location - one marker solution in the long term, but as long as this situation doesn't occur more often I can live with the workaround.

[2016-04-22 21:09] johnjohndoe opened #77 "Moers: Remove trailing semicolons"
@odadev I am currently [working on a validation script](https://github.com/wo-ist-markt/wo-ist-markt.github.io/issues/44) for the market data. This identified a some issues for Moers:

[code]

Can you please update _moers.json_?

[2016-04-22 21:14] johnjohndoe opened #78 "Köln: Remove trailing semicolons"
@karen-sch I am currently [working on a validation script](https://github.com/wo-ist-markt/wo-ist-markt.github.io/issues/44) for the market data. This identified a some issues for Köln:

[code]

Can you please update _köln.json_?

[2016-04-22 21:20] johnjohndoe opened #79 "Chemnitz: Validation errors with year"
@symptog I am currently [working on a validation script](https://github.com/wo-ist-markt/wo-ist-markt.github.io/issues/44) for the market data. This identified a some issues for Chemnitz:

[code]

Can you please update _chemnitz.json_?

[2016-04-22 22:05] symptog commented on #79
nope :/
I've tested the data here [http://openingh.openstreetmap.de/evaluation_tool/](http://openingh.openstreetmap.de/evaluation_tool/) and if I use the suggested format, I get a validation error

Tested String:
[code]
Some Warnings, but still able to parse.

Suggested Format:
[code]

Error:
[code]

[2016-04-22 22:13] johnjohndoe commented on #68
[Chemnitz has cases with multiple markets at the same location](https://github.com/wo-ist-markt/wo-ist-markt.github.io/pull/56#issuecomment-210863956), too. @symptog

[2016-04-22 22:39] symptog commented on #79
I've created an issue https://github.com/opening-hours/opening_hours.js/issues/159

[2016-04-23 08:28] symptog commented on #68
jep :/

i've tested to put multiple markers with a slightly different position but this makes it confusing, in particular when the markes take place at a different time and you click on "All makets"

[2016-04-23 08:57] dex2000 commented on #79
Use http://openingh.openstreetmap.de/evaluation_tool/?EXP=2016%20Jan%2012-%202016%20Feb%2027%2CNov%2001-11%20Tu-Fr%2009%3A00-16%3A00%3B%202016%20Jan%2012-%202016%20Feb%2027%2C2016%20Mar%2001-2016%20Jul%2001%2C%202016%20Jul%2003-2016%20Aug%2022%2C2016%20Aug%2027-2016%20Sep%2021%2C2016%20Sep%2025-2016%20Oct%2029%2C2016%20Nov%2001-11%20Sa%2008%3A00-13%3A00%3B%202016%20Mar%2001-2016%20Jul%2001%2C2016%

[2016-04-23 14:03] #79 closed

[2016-04-23 14:43] #76 closed

[2016-04-23 16:49] dirkschumacher commented on #68
Maybe we could construct a data structure where we have a bounding box that defines an area and within that area there are multiple markets.

[2016-04-23 16:56] johnjohndoe opened #83 "Render market area instead of markers"
An alternative way to display market locations would be to render the **actual area** covered by a market.

![market-area](https://cloud.githubusercontent.com/assets/144518/14762809/f4108208-0984-11e6-97ee-4cd8aefbb26a.png)

I am looking forward to hearing your opinions about this idea.

[2016-04-23 16:57] johnjohndoe commented on #68
Related #83.

[2016-04-24 08:07] johnjohndoe opened #84 "Time based market filtering broken"
I noticed that the time based filtering is not working. Although there are markets taking place right **now** **none** of the markets is put into the "Jetzt" category as shown in the screenshot for Berlin.

![markets-now-error](https://cloud.githubusercontent.com/assets/144518/14766301/f3f38d86-0a03-11e6-8989-a25ecec45676.png)

I checked the [commit when Berlin was added](https://github.com/wo-ist

[2016-04-24 08:15] k-nut commented on #84
If you are fine with making requests you could just use my new filter api. But this can probably also just as easily be solved in the frontend...

[2016-04-24 09:39] dirkschumacher commented on #84
Why don't you just simply merge #39 ?

[2016-04-24 11:41] johnjohndoe commented on #84
@k-nut I prefer fixing the bug before migrating the project to an external API.
@dirkschumacher I had no time to review the branch.

[2016-04-24 12:44] #84 closed

[2016-04-24 12:45] #39 closed

[2016-04-24 14:02] johnjohndoe opened #86 "Extended project information"
The legend currently provides basic information. This could be extended:
- [x] Generall about page
- [x] Who is running the project
- [x] Link to source code
- [x] City specific source for the market data
- [ ] License of the market data
- [x] Update time stamp of the market data
- [ ] Time stamp of last check (1)
- [ ] Contact for market data
- [ ] Contact for technical bugs of the website
- [x]

[2016-04-24 14:19] johnjohndoe commented on #58
@MarHai Oh! Get well soon.
Feel free to delegate the task to someone else from @codeformunich

---

/cc @konstin, @saerdnaer, @digisus, @dzdora, @mazemilian, @catoth, @mattfullerton, ...

[2016-04-25 08:29] torfsen commented on #86
Good idea. See also #25.

[2016-04-25 08:31] torfsen commented on #83
I think this would overcomplicate things. In my experience, areas are difficult to handle well, both from a maintenance and from a UI perspective. I would expect that it's also rather difficult to get the area for most markets.

[2016-04-26 19:40] Matthias84 opened #89 "Favicon"
It would be nice, if the page could become an unique favicon. So it's easier to recognize within a list of tabs, or as homescreen bookmark.

The green map marker would be an easy to realize icon?

[2016-04-27 06:12] johnjohndoe commented on #89
Good idea. You could generate a favicon from the basket icon which can be found at the [GitHub organization](https://github.com/wo-ist-markt).

[2016-04-27 06:52] torfsen commented on #89
@johnjohndoe: What is the license of that image? I like it and I think we could use it as the general logo for the site, however we need to make sure that we respect its license.

[2016-04-27 19:42] Matthias84 commented on #89
@torfsen Usually map marker / icon glyphs are licensed under PD / CC0 to avoid troubles and license clash. They are very basic bricks e.g. if you design an map style and thus they would heavily propagate an copyleft /copyright.

[2016-04-27 19:48] torfsen commented on #89
@Matthias84: I was talking about our [organization logo](https://avatars3.githubusercontent.com/u/17050186?v=3&s=200), which is better suited for the task in my opinion.

[2016-04-27 20:03] dirkschumacher commented on #78
Can this be closed now?

[2016-04-27 20:04] #77 closed

[2016-04-27 20:06] #78 closed

[2016-04-27 21:25] johnjohndoe commented on #89
I created the icon myself as a first version for a logo. I did not have time to refine it.

[2016-04-29 14:29] #46 closed

[2016-04-30 06:39] Matthias84 commented on #38
- [x]  Rostock [via Twitter](https://twitter.com/hackhro/status/726118887251689473) http://www.opendata-hro.de/dataset/wochenmaerkte/related

[2016-04-30 08:46] Matthias84 opened #92 "OpenGraph preview"
To make the platform more popular, we hope that people share the (city) links via social web. There i's common practise, that links include a short description and preview, which is announced via [OpenGraph](http://ogp.me/) HTML metadata. This might make it more attractive to users, to check out the city specific page?

[2016-04-30 12:30] dirkschumacher commented on #92
I think this is a good it. The question is, what do you put in the meta data. Do you want to make a PR for that?

Those are the required fields:
`
<meta property="og:title" content="Wo ist Markt in Berlin" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://wo-ist-markt.de/#berlin" />
<meta property="og:image" content="***some image***" />
`

[2016-04-30 12:31] dirkschumacher commented on #92
Another question: does it work with client-rendered websites?

[2016-04-30 12:35] dirkschumacher commented on #86
Who would we put in the impressum?

[2016-04-30 12:36] dirkschumacher commented on #89
How about using something like this? http://www.favicon-generator.org/

We can then also add images for mobile clients as well.

[2016-04-30 14:55] Matthias84 commented on #92
Well usually clientside pages add static information. As the services only parse the data once if it is shared.

In cse of WOM, you could share information about the city (e.g. 5 markets) and share an image URL with the logo.

[2016-04-30 15:33] Matthias84 commented on #89
I recommend to use an cooperate design, thus the logo should repeated at favicon, map, open graph ( #92 ). If you are unhappy with existing one, have a look [at nounproject](https://thenounproject.com/search/?q=shopping) or [openclipart](https://openclipart.org/search/?query=shopping) for adequate vector graphics. Personally I would choose a shopping basket / bag but not an trolley (which is used

[2016-05-06 06:59] dirkschumacher opened #95 "Deploy PR to S3 automatically"
It would be great if whenever a Pull Request comes in, the content of the repository is copied to a S3 buckets, so it is easier to quickly review the changes without running a local server and checking out the branch.

Travis CI could be used for that but only for PRs from authors with write access for the main repository.
Alternative would be to write a small application that clones the PR's git

[2016-05-07 14:45] Matthias84 commented on #38
- [x] Schwerin [via Twitter](https://twitter.com/tbsprs/status/728260613374410753)

[2016-05-08 20:24] torfsen commented on #95
Sounds nice-to-have but isn't really important from my point of view. If you'd like to implement it you're of course very welcome to do so :wink:

[2016-05-12 05:57] johnjohndoe commented on #38
@Matthias84 My tweet is a first step. It would be great if you could contact the city of Schwerin and Rostock to link to the project on their websites.

[2016-06-09 19:34] torfsen commented on #89
@johnjohndoe Do you have a vector graphic version of the logo?

[2016-06-13 20:14] johnjohndoe commented on #89
I created a separate ["media" repository](https://github.com/wo-ist-markt/wo-ist-markt-media) and put the files there.

[2016-07-04 18:18] #25 closed

[2016-07-04 18:42] #58 closed

[2016-07-04 19:54] #44 closed

[2016-07-04 19:58] k-nut commented on #89
@Matthias84 do you want to create a PR that makes this into the favicon or should I take care of that?

[2016-07-04 20:00] Matthias84 commented on #89
Would be nice, if you could do the job :+1:

[2016-07-04 20:01] k-nut commented on #66
There is an extension for leaflet that makes this into a two line change: https://github.com/mlevans/leaflet-hash I'm using it for [tatortkarte.de](https://tatortkarte.de) and it does exactly what it says it does :)

[2016-07-13 07:06] #89 closed

[2016-07-13 12:02] daimpad commented on #38
Bonn: http://opendata.bonn.de/page/ogdanwendungen

[2016-07-14 07:30] torfsen commented on #38
[Karlsruhe](https://transparenz.karlsruhe.de/showcase/wo-ist-markt)

[2016-07-16 09:33] johnjohndoe commented on #4
I looks like we have to change the website configuration / deployment once again:

:rotating_light:

[2016-07-16 12:36] k-nut commented on #4
As discussed before in person we could just switch to a VM provided by okfn Deutschland. They come with let's encrypt preconfigured now so it should be easy. I wrote a small script in the markt-server repository that automatically deploys each time the build passes on Travis. So we get just the same amount of comfort that we already have. I'll probably have time to configure this on Monday if no o

[2016-07-31 17:03] johnjohndoe commented on #4
As a side note and a quick reminder: from August 1, 2016 we might experience **downtimes** for the website since Kloudsec is shutting down their service. We [already working on a solution](https://github.com/wo-ist-markt/wo-ist-markt.github.io/issues/115).

[2016-08-01 16:57] namnatulco opened #116 "How many markets per area?"
In Ulm we're currently thinking about submitting markets for neighboring areas (cities like Langenau, and Neu-Ulm). We current have Ulm and Neu-Ulm, because they're commonly considered one "city", but we also saw that the Berlin group has markets far outside Berlin (including one beyond Potsdam). Did you already think about the area/how many cities will be included in the drop-down?

[2016-08-01 16:58] namnatulco commented on #116
One idea we had is that we could split by state (which would be unfortunate in Ulm, but great for most other places).

[2016-08-01 16:58] namnatulco commented on #116
... or alternatively we could include all of the data in a single map by default?

[2016-08-01 19:00] johnjohndoe opened #117 "Validate HTTP status of data source URL"
Each JSON file for a city contains an URL in the metadata section pointing to the original data source. Here is an excerpt from _berlin.json_:

[code]
# Proposed validator
1. Collect the URLs from all city files
2. Execute a HTTP GET request on each URL
3. Check if the response code equals HTTP 200
4. Produce a warning if the response code indicates a redirection
5. Produce a build error if the re

[2016-08-01 19:09] johnjohndoe opened #118 "Validate city list alphabetic ordering"
The [_README.md_](https://github.com/wo-ist-markt/wo-ist-markt.github.io/blob/master/README.md) shows a list of all cities which currently show markets on the website.
# Proposed validator
- [ ] Check if the lexicographic order of city names is correct
- [ ] Produce a build error if the order is incorrect
- [ ] Check if markdown link aliases use only `-` not `_`

The validator should run on Travis

[2016-08-02 21:38] torfsen commented on #116
I also think that our current approach (limit displayed markets to a single city + city selection dropdown) is reaching its limits.

I think we should show all markets on the map (filtered by now/today/all as before). To keep things clean and fast we can use marker clustering [1](https://github.com/Leaflet/Leaflet.markercluster) [2](https://github.com/SINTEF-9012/PruneCluster) on lower zoom levels

[2016-08-02 21:40] torfsen commented on #36
This was fixed as part of #59.

[2016-08-02 21:41] #36 closed

[2016-08-03 07:03] k-nut commented on #117
Just want to mention that this would be a good chance to use a HTTP head request instead of HTTP get.

[2016-08-03 07:55] torfsen commented on #4
The new DNS settings seem to have propagated by now (I'm getting `148.251.185.45`), but the certificate is invalid for our domain:
[code]

[2016-08-03 08:20] k-nut commented on #4
I think we need to change some ssl settings on the server that the new VM runs on. I hope that this gets updated later today.

[2016-08-03 09:21] k-nut commented on #4
The change is made. We are back online

[2016-08-03 14:52] torfsen commented on #4
Looks good, great work! :tada:

[2016-08-03 16:18] johnjohndoe commented on #4
Nice. Thank you, @k-nut. I am happily closing this issue. 😍

[2016-08-03 16:18] #4 closed

[2016-08-04 10:56] AltNico opened #122 "Bruchköbel and Hanau on wrong positions"
Both markets are in Somalia on the map. However, the coordinates are correct... Does I use a wrong format?

https://wo-ist-markt.de/#bruchk%C3%B6bel
https://wo-ist-markt.de/#hanau
https://github.com/wo-ist-markt/wo-ist-markt.github.io/blob/master/cities/bruchk%C3%B6bel.json?short_path=77c081c#L6
https://github.com/wo-ist-markt/wo-ist-markt.github.io/blob/master/cities/hanau.json?short_path=2cef9af

[2016-08-04 11:08] k-nut commented on #122
That sounds like the latitude and the longitude field are switched.

[2016-08-05 08:04] johnjohndoe opened #124 "Validate order of coordinates"
[It can easily happen](https://github.com/wo-ist-markt/wo-ist-markt.github.io/issues/122) that the order of coordinates (latitude, longitude) is mixed up. To avoid human error and to simplify the review process a validator can verify the correct order.
# Proposed validator
- [ ] Check the order of coordinates for each market
- [ ] Check the order of coordinates in the `map_initialization` block
-

[2016-08-05 08:14] #122 closed

[2016-08-07 11:28] johnjohndoe opened #125 "Cities with Umlaute cannot be displayed"
Currently, cities which have an Umlaut in the name cannot be displayed. The following error is shown in the browser console when such a city is selected:

This error occurs since the website deployment changes recently, see #115.
I could see on the server that the file names are corrupted! Here is a listing of the cities/ folder on the new server:

[code]

[2016-08-07 17:05] johnjohndoe commented on #116
I personally do see a huge need to shorten the list of cities in the dropdown.

- I assume that users select their city and inspect markets there.
- I imagine no average user switches cities all the time.
- Basically, the standard use case for the website is to visit the URL for a specific city - that's it.

Of course I have to tracking data to verify my thoughts.
I am happy to read your thoughts

[2016-08-08 06:39] namnatulco commented on #116
I think @torfsen's solution in #126 is a pretty good one; that also solves the problem with ulm/neu-ulm/nersingen (i.e., when do we want the user to switch cities to actually see relevant markets?).

[2016-08-08 09:54] k-nut commented on #125
This looks like a server misconfiguration or a problem with the deployment. I'll take a look at it.

[2016-08-11 21:41] johnjohndoe opened #127 "Show deployed version"
The live website should somewhere show the **Git hash** of the commit which has been deployed. This is very helpful if a developer quickly wants to check which version is live.

[2016-08-22 08:38] torfsen commented on #127
Now that we're about to introduce a build step (#126) things like this should be easy.

[2016-11-07 17:19] k-nut opened #136 "We should not try to deploy forks with travis"
Original comment from @TimGuenther:

[2016-11-07 17:20] k-nut commented on #136
@TimGuenther you are right about this. I also find the issue when initially looking into this. I hope that this is solvable by moving the decryption step into the master only branch in the travis config

[2016-11-07 22:03] #136 closed

[2016-11-16 06:50] AltNico commented on #38
Anfang September habe ich die Städte Hanau und Bruchköbel angeschrieben, aber seitdem keine Antwort bekommen:

der Bruchköbler Wochenmarkt ist nun auch bei wo-ist-markt.de eingetragen:
https://wo-ist-markt.de/#bruchköbel

Wenn Sie weitere Märkte in Bruchköbel kennen, können Sie mich gerne
kontaktieren und ich trage diese noch ein. Außerdem wäre es schön, wenn
Sie auf ihrer Seite
(http://www.stadtm

[2016-11-23 22:42] johnjohndoe opened #139 "Deployment notifications on Slack"
It would be great if we could send an informative message to our [`#wo-ist-markt` Slack channel](https://openknowledgegermany.slack.com/archives/wo-ist-markt) every time the website is published. Since Travis CI is responsible for pushing stable changes to our server it should happen there. If possible it would be great to distinguish between general development and commits where actual market dat

[2016-11-27 10:15] k-nut commented on #139
The simplest way of doing this would be to use the [predefined travis/slack integration](https://docs.travis-ci.com/user/notifications#Slack-notifications) that could notify us on every push. We could also change the template so that the commit message (which should make it clear if market data was added or not) is shown. The potential downside of this is that we would also get notifications for n

[2016-11-27 14:27] johnjohndoe commented on #139
Let's hear some other peoples opinion.

[2016-11-28 06:41] torfsen commented on #139
Let's try the existing integration. If we're not happy with it we can then decide to do our own thing.

[2016-12-28 13:46] sfricke opened #145 "Link to duesseldorf.de changed"
The link to the Düsseldorf market administration changed from https://www.duesseldorf.de/verbraucherschutz/marktverwaltung/wochen.shtml to https://www.duesseldorf.de/verbraucherschutz/marktmanagement/wochenmaerkte/termine.html

[2016-12-28 17:42] johnjohndoe commented on #145
@sfricke If you want you can update the link right [here](https://github.com/wo-ist-markt/wo-ist-markt.github.io/blob/master/cities/d%C3%BCsseldorf.json?short_path=67acfca#L397). /cc @cknebel

[2016-12-29 14:10] sfricke commented on #145
@johnjohndoe Thank you! I did my very first pull request (#149) on github :-)

[2016-12-29 21:46] johnjohndoe commented on #145
Nice!

[2016-12-29 21:46] #145 closed

[2016-12-31 22:41] johnjohndoe commented on #38
- [x] Wuppertal http://www.offenedaten-wuppertal.de/anwendungen

[2017-01-04 14:27] k-nut commented on #125
This seems to work now, doesn't it, @johnjohndoe?

[2017-01-04 14:31] k-nut opened #153 "Send build notifictaions to new #wo-ist-markt-ci Slack channel"
This is to reduce the flood of messages in #wo-ist-markt

[2017-01-04 14:38] johnjohndoe commented on #125
I would say so. Maybe you can reference the commit where we implemented this here. Then we can close this issue.

[2017-01-04 17:32] k-nut commented on #125
If I remember correctly this was fixed with a server change and not in code here. Therefore I am closing the issue. Feel free to reopen if you remember otherwise.

[2017-01-04 17:32] #125 closed

[2017-01-06 08:26] johnjohndoe opened #156 "Advertise on the website how to add or update market data for a city"
Currently, the website does not indicate how to add market data for a new city. The only place where this is explained is the [contribution guide](https://github.com/wo-ist-markt/wo-ist-markt.github.io/blob/master/CONTRIBUTING.md) in the repository.
We need to guide users which visit the website to the contribution guide. The following scenarios are possible:

- User visits the website for the fir

[2017-01-06 08:33] johnjohndoe opened #157 "Use logo for map markers"
The [basket logo](https://github.com/wo-ist-markt/wo-ist-markt-media/tree/master/assets) should be used for the map markers instead of the _shopping cart_ icon.

![Basket](https://github.com/wo-ist-markt/wo-ist-markt-media/blob/master/assets/basket-black-on-white.png?raw=true)

![wim-map-markers](https://cloud.githubusercontent.com/assets/144518/21712064/cc1ad7a6-d3f2-11e6-8b8e-deae84e1bc66.png)

[2017-01-06 08:50] johnjohndoe opened #158 "Explain map marker colors"
Currently, there is no legend for map markers and what their different colors mean.
We should communicate somewhat clearer which color maps to which filter setting.
Here is a quick draft:

![wim-legende](https://cloud.githubusercontent.com/assets/144518/21712511/85481f8e-d3f5-11e6-9911-590abc898913.png)

[2017-01-09 11:09] johnjohndoe commented on #153
Go ahead :+1:

[2017-01-09 16:20] johnjohndoe opened #162 "Validate market data contribution"
Currently, each market data contribution is validated via the [markets-validator.js](validation/markets-validator.js) script. It only checks the actual market GeoJSON file.

However, adding a new city includes modifying two existing files as explained in the [contribution guide](https://github.com/wo-ist-markt/wo-ist-markt.github.io/blob/master/CONTRIBUTING.md#market-data-contributions). Therefore

[2017-01-14 14:15] johnjohndoe opened #166 "Validate HTTP code of data source"
Each city has to define a data source for the origin of the market data in the respective JSON file. Example from [_berlin.json_](https://github.com/wo-ist-markt/wo-ist-markt.github.io/blob/master/cities/berlin.json?short_path=f2f08fb#L2631):

[code]

The link is shown on the website in the toggleable header as indicated in the following screenshot (Berlin):
![datasource](https://cloud.githubuserc

[2017-01-17 06:56] torfsen commented on #157
One thing to keep in mind is that if we want to support multiple types of markets (e.g. farmer's markets, flower markets, flea markets, etc., cf. #65) then we might want to use the marker icon to distinguish these types.

[2017-01-17 19:20] nise opened #167 "Feature request: jetzt, heute und morgen?"
Es ist Abend, ich bin in einer neuen Stadt und frage mich, wo ich morgen einen Wochenmarkt finde. Gegenwärtig kann ich nur schauen, wo heute (es ist jetzt 20:20) eine Markt gewesen ist.

Könntet ihr einen button "morgen" ergänzen?

[2017-01-18 21:26] johnjohndoe commented on #157
Good point. It would be really helpful if someone comes up with a design draft. Does anyone want to work on this or does anyone know a UI designer who wants to jump on-Korb? :joy_cat:

[2017-01-18 21:34] johnjohndoe commented on #167
_I switch to English because we like to avoid excluding non-German speakers. I hope English is fine to you._

Thank you for the feature request. This is a feature I already thought of. I even worked on very similar functionality for the [_Briefkastenkarte_](http://briefkastenkarte.de/) project. The pull request has not been merged though. But you can [read the description and take a look at the sc

[2017-01-19 07:38] tursics commented on #157
I'm here to jump in-Korb. I can design the markers and the icons

[2017-01-19 12:25] johnjohndoe commented on #157
Nice. Feel free to assign the ticket to you whenever you want to start.

[2017-01-20 09:46] #153 closed

[2017-01-20 17:53] telegnom commented on #65
Maybe something like
```properties -> kind: [kind of market]``` ?

and kind of market can be something like "farmer's market" or "flea market" or "weekly market"

[2017-01-20 18:07] johnjohndoe commented on #65
Yes, some kind of **tagging system** which allows **multiple** values assigned to **one** market should be a good approach.

[2017-01-27 09:25] johnjohndoe commented on #166
Looks like I create a duplicate #117. :dolls:

[2017-01-27 15:02] marcusandre commented on #38
Kaiserslautern: I tweeted here: https://twitter.com/meggesje/status/824995715814404096 - and sent a mail into townhall. 👍

[2017-01-30 20:39] johnjohndoe commented on #117
First implementation in #174.

[2017-01-30 20:39] #117 closed

[2017-01-30 20:39] johnjohndoe commented on #166
First implementation in #174.

[2017-01-30 20:39] #166 closed

[2017-02-08 22:10] johnjohndoe opened #182 "Avoid validating same data source more then once"
It turns out that for some cities the **same** `data_source` URL is specified. Example: [Rostock](https://github.com/wo-ist-markt/wo-ist-markt.github.io/blob/master/cities/rostock.json), [Stralsund](https://github.com/wo-ist-markt/wo-ist-markt.github.io/blob/master/cities/stralsund.json).
Requesting the HTTP status code of an URL twice causes the validation script to not finish for some reason.

#

[2017-02-08 22:23] johnjohndoe commented on #182
@sbeh FYI

[2017-02-08 22:56] johnjohndoe opened #183 "Test redirect for non-existing cities"
When a non-existing city such `https://wo-ist-markt.de/#xxx` is entered the user is redirected to the default city (which is currently "Karlsruhe"). This functionality was broken and has been fixed here: af47ae2106b7e2493c149892bddde650390e39f3.

Let's have automated test to prevent this from happening again.

[2017-02-08 23:06] johnjohndoe opened #184 "Handle non-existing URLs"
Non-existing URLs should be redirected or a error page should be shown.

### Examples

- https://wo-ist-markt.de/xxx
- https://wo-ist-markt.de/xxx/

[2017-02-08 23:07] johnjohndoe commented on #184
Related issue #183

[2017-02-08 23:27] johnjohndoe commented on #183
/cc @dirkschumacher

[2017-02-11 14:44] johnjohndoe commented on #162
The [_citylist-spec.js_](https://github.com/wo-ist-markt/wo-ist-markt.github.io/blob/master/spec/citylist-spec.js) already does the job of validation the content of the _cities/_ folder in conjunction with _cities.json_. The script has been added in 1b4f67f31d878b4f1d4fff40bca69fa71cfbc17d.

:beetle: However, currently [one of the tests seems to be **not** working](https://github.com/wo-ist-markt/

[2017-02-13 14:56] dirkschumacher commented on #183
#neveragain

[2017-03-05 13:31] alarmschaben commented on #38
Sent a tweet, told colleagues about the project (who submitted their own pull request for their local markets).

I also sent a mail to the city of Hamburg. This was their reply:

"vielen Dank für Ihre Nachricht und den Hinweis auf Ihr interessantes Projekt.
Leider können wir aktuell, auf Grund noch nicht geklärter, rechtlicher Problemstellungen, keine Verlinkungen und Bekanntmachungen, wie von Ihn

[2017-04-29 18:23] johnjohndoe opened #195 "Travis CI: Validation script does not fail when error is detected"
As noticed in the [initial pull request](https://travis-ci.org/wo-ist-markt/wo-ist-markt.github.io/builds/227154672?utm_source=github_status&utm_medium=notification) in #194 the validation script does **not** fail on Travis CI when an error is detected while checking the market data of a city.

First, an error is detected:

![travis1](https://cloud.githubusercontent.com/assets/144518/25557798/5b36

[2017-05-09 20:31] johnjohndoe commented on #195
@torfsen @k-nut @tursics @dirkschumacher @derhuerst :handshake: I could need some help on this one since this meanwhile affects all pull requests. If there is an error in the validation script Travis CI does not fail on it. Running the tests locally however the test suite fails as expected.

[2017-05-12 08:44] k-nut opened #204 "Validation for cities.json fails on macOS"
Currently the validation of `cities.json` fails when run on macOS even though it works on Travis/Linux.

The output is the following:

[code]

[2017-05-12 09:35] #204 closed

[2017-05-13 11:30] johnjohndoe commented on #195
Yes, looks like we are back to normal. I also pushed [this branch](https://github.com/wo-ist-markt/wo-ist-markt.github.io/commit/340e535ade313f64267deb511858f0dc7b5287c9) and saw the [validation failing](https://travis-ci.org/wo-ist-markt/wo-ist-markt.github.io/builds/231845501) as expected.
Do you know what exactly fixed it? Was it the [`&` to `&&` change](https://github.com/wo-ist-markt/wo-ist-m

[2017-05-13 11:42] k-nut commented on #195
Maybe. It might also have been the [updated](https://github.com/wo-ist-markt/wo-ist-markt.github.io/commit/3d304e15f38ce66f3fdfad300a40306b66c2c2f3) to a more recent version of node.

Let's keep an eye out of this ever happens again.

[2017-05-13 11:45] johnjohndoe commented on #195
Yes. I think for now you can close the issue and get rid of the test branches. We can file another bug if it resurfaces.

[2017-05-13 12:38] #33 closed

[2017-05-13 19:07] #195 closed

[2017-06-22 20:45] johnjohndoe commented on #38
Berlin.de: [Märkte & Feste](http://www.berlin.de/sen/wirtschaft/service/maerkte-feste/)

![markte und feste berlin de](https://user-images.githubusercontent.com/144518/27455093-7aa53974-579c-11e7-8cf5-f3b3fcbdf4c7.png)
)

[2017-07-12 20:51] johnjohndoe commented on #65
I stumbled into the [StreetComplete](https://github.com/westnordost/StreetComplete) project and thought the icons could be an inspiration for designing icons for different kind of markets.

![StreetComplete featuregraphic](https://user-images.githubusercontent.com/144518/28139424-80bb239c-6754-11e7-8c71-203a18a9eec4.png)

[2017-07-12 21:11] johnjohndoe opened #215 "Monitor websites for updates"
# Problem
The market data of many cities has been manually collected. The JSON file has been filled manually. The websites (data source) changes **without further notice** whereby the market data on our website becomes **outdated**.

# Proposed (first basic) solution
- Setup a service which **automatically** checks the website (data source URLs) of each city **regularly**
- Send a **notification**

[2017-07-21 14:45] k-nut commented on #95
I set up deployment with [netlify](https://netlify.com). They make the deployment process much easier and automatically create a new subdomain for every PR.
See https://history-api--wo-ist-markt.netlify.com/köln for an example.

[2017-08-28 18:34] #157 closed

[2017-08-29 08:18] johnjohndoe opened #225 "Marker icon broken on Android Chrome"
The new marker icons introduced in #223 do not show up on Chrome 60 on Android 6.0.1 on a Nexus 5.

![android-chrome](https://user-images.githubusercontent.com/144518/29811306-4cd3ede2-8ca3-11e7-9b20-2e91696b1546.png)

They icons show up correctly on Safari on ...

[2017-08-29 08:51] tursics commented on #225
![screenshot_20170829-104602](https://user-images.githubusercontent.com/5406352/29812708-c803081e-8ca7-11e7-8816-111688c0763d.png)
Works on my BlackBerry with Android 6.0.1 and Chrome 60

[2017-08-29 09:14] johnjohndoe commented on #225
Resolved: I deleted **all images** in the browser cache.

[2017-08-29 09:14] #225 closed

[2017-09-23 13:09] torfsen opened #228 "HTTPS certifcate is expired"
It seems that our HTTPS certificate expired on September 18, 2017, 1:13 AM. At least that's what my browser tells me. And since we use HSTS I can't access wo-ist-markt.de anymore...

[2017-09-23 15:17] MorrisJobke commented on #228
Let me take a look at this

[2017-09-23 18:01] MorrisJobke commented on #228
@torfsen Thanks for noticing - the issue is now resolved.

[2017-09-23 18:22] MorrisJobke commented on #228
The lets encrypt cron job failed, because one of the earlier hosts in the config had a Nginx config, that didn't served on IPv6. The IPv6 was added to the DNS entry for that domain and Let's Encrypt then preferred that way. Because Nginx didn't served anything for that IP under that domain the verification failed and the cron job stopped. Therefore also all other domains were not renewed. I fixed

[2017-09-23 18:22] #228 closed

[2017-11-26 13:45] johnjohndoe commented on #40
I agree that we should improve the start page experience for users. I imagine the following might work:

- Ask users for location
- Use location to select city or nearby city (some distance threshold), alternatively show dialog that city is not available and inform users how they can contribute
- Render default city if location is not provided

[2018-01-02 09:47] tursics opened #238 "Add a PR website"
The info beamer at 34c3 shows the web url https://wo-ist-markt.de/#deinestadt but this url does not exists. Is it possible to show a PR site or PR content with this url? Or maybe a help-creating-new-city site?

Best,
Thomas

[2018-01-02 18:46] johnjohndoe commented on #238
Thank you for bringing this up. Unknown URLs should be handled. This is basically the same idea as in issue #184. Please follow up there. If you agree, please close this issue.

[2018-01-02 22:52] #238 closed

[2018-01-02 22:54] tursics commented on #184
Is it possible to show a PR site or PR content instead of an error page? Or maybe a help-creating-new-city page?

[2018-01-02 23:07] johnjohndoe commented on #184
Good idea. I believe this would be valuable to users who are new to the website or cannot find their city. This relates to #156. Please feel free to post a draft it you have ideas how it should look like.

[2018-01-03 21:33] johnjohndoe opened #240 "Update Fabric"
Update Fabric to a recent version. [Fabric changelog](http://www.fabfile.org/changelog.html).

[2018-01-03 21:34] johnjohndoe commented on #240
@k-nut Can you take care of this?

[2018-01-09 09:59] lucash commented on #38
Kleve.de: [Wochenmärkte](https://www.kleve.de/de/inhalt/wochenmaerkte/)

[2018-01-26 18:38] johnjohndoe commented on #240
See also the new _Gemnasium_ bagde in the `README.md`.

[2018-02-03 17:23] k-nut opened #246 "Cannot click on `heute` if all markets that are open today are also open right now"
Karlsruhe has 8 markets that are open on Saturday. If  the current time is 11:20 all markets are also open. In the header one can select `jetzt` and `alle` but not `heute`. Since this does not happen later on Saturdays I assume that the problem here only occurs if all markets that are open on the current day are also open at the current time. Obviously if one is able to select `jetzt` one should a

[2018-02-05 18:35] vanderwees commented on #167
I came to the same conclusion, missing the 'morgen' checkbox. Before starting to change anything, would only _tomorrow_ be sufficient, or should we implement a more advanced selection (as proposed/demoed by @johnjohndoe)?

[2018-02-07 17:46] johnjohndoe commented on #167
@vanderwees Thank you for waking up this issue. Here are my thoughts - but I would like to hear the opinion of @torfsen, @schurig, @k-nut, @tursics and others which are subscribed to the issue updates.

Since we don't know anything about how actual users of the website interact with the time filter I find it hard to decide what to implement. From a technical standpoint I would like to see a more b

[2018-02-07 17:47] johnjohndoe commented on #167
Please notice a current bug: #246.

[2018-02-16 18:58] johnjohndoe commented on #240
Raised severity level due vulnerable module: pycrypto

See https://github.com/dlitz/pycrypto/issues/176

[2018-03-01 15:42] stefangrotz opened #252 "Add farm shops and milk vending machines / colaborate with farmshops.eu"
It would be nice if the map would show other forms of direct marketing like farm shops or milk vending machines.

A good start for this could be an geojson-export from openstreetmap with the help of http://overpass-turbo.eu/ for these tags:
- [shop=farm](https://wiki.openstreetmap.org/wiki/DE:Tag:shop=farm)
- [amenity=vending_machine](https://wiki.openstreetmap.org/wiki/DE:Tag:amenity%3Dvending_ma

[2018-03-06 18:14] dirkschumacher commented on #95
I think we can close this.

[2018-03-06 18:14] #95 closed

[2018-03-09 06:11] dirkschumacher commented on #240
Can this issue be closed?

[2018-03-09 13:11] katrinleinweber opened #258 "Hannoveraner Bauernmarkt"
War nicht in #226: http://bauernmarkt-hannover.de/.

[2018-03-09 19:02] #258 closed

[2018-04-10 18:57] dirkschumacher commented on #252
I like the idea and I guess it is still in the scope of wo-ist-markt in some way.

Currently wo-ist-markt is centered around cities while most farm shops are probably outside of cities. So how would that work? Maybe have a different UI?

[2018-04-10 21:00] johnjohndoe commented on #252
@stefangrotz, thank you for introducing the [_farmshops_](https://github.com/CodeforKarlsruhe/direktvermarkter) project. I had look at the website and would like to describe the current status of _Wo ist Markt?_

# Inofficial missing statement
Since we are lacking a clear mission statement (a bit [here](https://wo-ist-markt.de/info.html)) I am trying to formulate my **personal** point of view here

[2018-04-11 16:26] stefangrotz commented on #252
@johnjohndoe thanks for the overview, very interesting. I will continue to work on the project and if you decide to start a colaboration I am always open for it :) . I hope that my map will improve the data on OSM wich would make every project easier. I am not completely sure, but I think that I will add a way to select diferent german regions to the map in one way or another.

The biggest problem

[2018-05-22 10:29] johnjohndoe opened #270 "GDPR compliance"
Update the website **before May 25, 2018** ⏳ to comply with the [General Data Protection Regulation (GDPR)](https://ec.europa.eu/info/law/law-topic/data-protection_en).

- [ ] Let users opt-out and opt-in from being tracked by [Matomo analytics](https://matomo.org).
- [ ] Add a data privacy statement. (check OKFN website for current version)
- [ ] Check if Matomo is configured to mask two bytes of

[2018-05-23 07:10] johnjohndoe commented on #270
# Related
- [pretix and GDPR, 11.05.2018](https://pretix.eu/about/de/blog/20180511-gdpr/)

[2018-05-23 16:02] greysteil opened #271 "Use Dependabot for automated dependency updates"
Since https://github.com/wo-ist-markt/wo-ist-markt.github.io/pull/268 there is no monitoring of out-of-date or insecure dependencies. An automated service like [Dependabot](https://dependabot.com) would automatically create PRs whenever new dependency versions are available.

Pros:
- Ensures you're always aware of latest dependency versions
- PRs include links to changelogs etc., so are relatively

[2018-06-13 16:32] dirkschumacher commented on #270
Why not just remove Matomo and republish?

[2018-06-13 16:57] johnjohndoe commented on #270
I can't say if this would be enough to be compliant with the law - IANAL.
I prefer that whoever works on the issue does a bit of research to be sure.

[2018-06-14 09:19] knutator2 commented on #270
to make the Website Matomo Compliant only the snippet from @tursics is necessary, but @johnjohndoe is right. To make the page GDPR compliant, a data privacy statement is necessary. We updated our data privacy for OKFN at [okfn.de](https://okfn.de) accordingly, so we could use it and extend it with a paragraph, explaining the page is hosted via github.

[2018-06-14 09:31] knutator2 commented on #270
ah perfect, then only the maintainer in the top part needs to be changed

[2018-07-10 08:05] johnjohndoe commented on #270
Meanwhile, the OKFN tends to switch to opt-in for Matomo. (Michael Peters)
- [Tracking nur noch mit Opt-In? Kritische Anmerkungen zum DSK-Papier](https://www.datenschutzbeauftragter-info.de/tracking-nur-noch-mit-opt-in-kritische-anmerkungen-zum-dsk-papier/)

If anyone wants to work on the GDPR topic so the website can go **online** again please do so.
I will **not** be able to work on the issue al

[2018-10-04 13:12] johnjohndoe commented on #270
# Current state of the website

![website](https://user-images.githubusercontent.com/144518/46476234-e8afac80-c7e7-11e8-83c8-74569021cc65.png)

[2018-12-16 21:09] #270 closed

[2018-12-24 17:06] #246 closed

[2019-01-05 19:00] johnjohndoe opened #281 "Outdated data source URLs"
The [build log of Travis CI](https://travis-ci.org/wo-ist-markt/wo-ist-markt.github.io/builds/475766772#L1043-L1080) as well as running the [tests locally](https://github.com/wo-ist-markt/wo-ist-markt.github.io#development) reveals that a bunch of data source URLs are outdated. HTTP status codes **other then** `200` are returned.

In the extreme case of Dortmund `HTTP 404` is returned which means

[2019-01-05 19:02] johnjohndoe commented on #240
@k-nut Can this issue be closed?

[2019-01-05 19:16] k-nut commented on #240
Can't really remember but it seems like we did it. Closing

[2019-01-05 19:16] #240 closed

[2019-01-07 20:22] johnjohndoe commented on #281
One idea is to write a [GitHub bot](https://github-bot-tutorial.readthedocs.io/en/latest/) which automatically opens
- a pull request every time a HTTP 301 or HTTP 302 is detected
- an issue every time a HTTP 404 is detected

[2019-02-20 07:31] k-nut opened #285 "Use a stable sort for entries in cities.json for easier diffs"
See https://github.com/wo-ist-markt/wo-ist-markt.github.io/pull/283#discussion_r258354322

[2019-03-21 07:32] hbruch opened #287 "Support additional attribute to refer to corresponding OSM feature"
I propose to allow for an additional attribute `osm_id` which refers to the corresponding `amenity=marketplace` feature in OpenStreetMap, if existing.

This could be used for completeness checks of either party, as well for comparing e.g. `opening_hours`.

As format, I'd suggest the notation [n|w|r]<feature-id>, e.g. `n4986263386 `

[2019-03-21 07:37] hbruch opened #288 "Support multiple datasources"
I propose to allow declaring more than one datasource, e.g. by changing `data_source` to an array of `data_sources`.

This would be helpful, if e.g. coordinates of a marketplace are provided by OpenStreetMap.

[2019-03-21 21:30] johnjohndoe commented on #215
:heavy_check_mark: Resolved for Berlin through https://github.com/wo-ist-markt/wo-ist-markt-berlin-update-reminder by @NWuensche.

[2019-03-21 21:30] #215 closed

[2019-03-21 21:37] johnjohndoe commented on #288
The topic has been brought up in a [pull request](https://github.com/wo-ist-markt/wo-ist-markt.github.io/pull/31#issuecomment-204754069) by @perreira in 2016 for Erlangen as well. Please join the conversation.

[2019-03-21 22:09] johnjohndoe commented on #281
@NWuensche, I like to invite you to join the discussion on how to automate this everlasting issue since you came up with a [nice solution for the date check](https://github.com/wo-ist-markt/wo-ist-markt-berlin-update-reminder).

[2019-04-16 20:19] johnjohndoe commented on #288
@k-nut What's your opinion on this?

[2019-04-16 20:19] johnjohndoe commented on #287
@k-nut Do you have something to add with regards to this proposal?

[2019-04-16 20:21] johnjohndoe commented on #285
Another [diff](https://github.com/wo-ist-markt/wo-ist-markt.github.io/commit/78410286db74100342ff98bb2a270fdd5e97ecbb) which could be "optimized".

[2019-04-27 14:48] k-nut commented on #287
Interesting idea. I think the impact is quite minimal, we can add this as an optional field. IDs aren't stable in OSM but I don't expect the entries for the markets to change so much that this could become a problem.
With regards to notation I would prefer using the URLS that the OSM map uses. e.g https://www.openstreetmap.org/node/662270400

[2019-04-27 14:50] k-nut commented on #288
So we would have multiple data sources but merge them into one `features` array in the geojson? If so, I think it would be good for the entries to also show from which of the two sources they came.
We would also have to change how the data sources are rendered in the app but that seems to be quite a small change to me.

[2019-04-27 16:01] johnjohndoe commented on #288
I had the same thought: each features item could have an optional data source property which overwrites the so-to-say "master" definition of the data source for the whole data set.

[2019-04-27 17:06] hbruch commented on #288
The use case I had in mind is location information derived from OSM, but opening hours/name from an official source (with bad location information).

[2019-04-27 17:14] johnjohndoe commented on #288
I had the case in Berlin: there were geo-coordinates in the data set originally. I geo-referenced the street names for them and extended the original Excel file by two new columns. The data owner agreed to maintain these columns from then on.
I would love to see such improvements on the original data in other cities, too. I know it takes some communication but I think it is worth it to produce ope

[2019-04-28 10:37] johnjohndoe commented on #285
@NWuensche This is the issue I mentioned recently when we talked about the project.

[2019-04-29 11:11] k-nut commented on #288
I agree that this is the best case. We can use this project as a way to show to the public administration that it is important to have up to date and correct data and that by publishing the data openly, mistakes will be found quicker which in the end will improve the "service" that they offer.

So @hbruch if you could get in touch with your city and have them improve the source data, I think this

[2019-05-11 13:45] tordans opened #297 "Geolocation feature does not refresh data"
1. I open https://wo-ist-markt.de/
  The map is in Karlsruhe
2. I click the "Show me where I am" button
  The map gets my browser location and moves to this location in Berlin
3. CURRENT: I see my location + the map but no data
EXPETED: The data is also there

Current workaround: Use the dropdown to search for Berlin. The map we re-center and show all data.

Quickfix: Remove the "Show me where I a

[2019-05-13 20:07] johnjohndoe commented on #297
Hi @tordans. Thank you for raising this topic. I could not find this issue being written down. @torfsen, @k-nut, @dirkschumacher, please correct me if I am remember wrong.

However, I remember that at some point it was discussed that the average users might not browse different cities. Instead such users might find (if available) and bookmark their home city and from then on just visit that one. I

[2019-05-13 20:21] tordans commented on #297
To maybe clarify, this is what I see: https://www.dropbox.com/s/al030ks2cxr0j09/issue-wo-ist-markt.mov?dl=0 (temporary link; will delete the video in about a month). I can reproduce the behavior on MacOS, Chrome, Private Browsing as well.

[2019-05-13 20:27] johnjohndoe commented on #297
Thank you for sharing the video recording. This is exactly how I understood your textual description.

[2019-07-31 07:23] stefangrotz commented on #287
I suggested this in #252 and made my own map https://farmshops.eu that shows marketplaces, farmshops, vending machines, beekepers and marketplaces.

You can find the coresponding query in the github repository:
https://github.com/CodeforKarlsruhe/direktvermarkter/blob/10da73c602ea3710aa77d3d16f0c25e3deb1312a/update_data.js#L108

[2019-08-04 08:20] johnjohndoe opened #303 "Display order of days depends on system date"
The [`Stadtmarkt Basel`](https://github.com/wo-ist-markt/wo-ist-markt.github.io/blob/83036502bd06d9cf2c61df2dc24dd3a887f64785/cities/basel.json?short_path=618fea1#L11-L15) is taken as an example here:

[code]

# How to reproduce
1. Set the system date to Sunday
2. Inspect the market times for the market

# Observed result
- Saturday shows up at the **top** of the list of market times, followed by

[2019-08-04 15:38] ubergesundheit commented on #303
I guess the culprit are lines [177 to 185 in main.js](https://github.com/wo-ist-markt/wo-ist-markt.github.io/blob/master/js/main.js#L177-L185). Especially using `week` instead of `isoweek` in the `startOf` and `endOf` calls seem to produce the issue you described.

`startOf` and `endOf` assume sunday and saturday as start and end of weeks when used with `week`. `isoweek` uses Monday and Sunday.

I

[2019-08-05 19:44] johnjohndoe commented on #303
The particular function has been edited in 76e226a183863591c12ebfefaead3ab2047a0b72 and again in 6e7bb132926ae7282226b98d1fadd514278db387. I hope this gives you some insides. If you like to work on the issue that would be great.

[2019-08-11 18:25] #303 closed

[2019-08-12 22:33] #285 closed

[2019-10-02 17:31] Ryuno-Ki commented on #158
Is this still open for grabs for hacktoberfest?

[2019-10-02 18:58] johnjohndoe commented on #158
@Ryuno-Ki Yes. You are welcome to discuss your ideas here.

[2019-10-02 19:01] Ryuno-Ki commented on #158
Um, #312 :-)

[2019-10-03 10:29] Ryuno-Ki commented on #158
I wasn't sure, whether this project is still active.
Basically, what I did was using the same classes Leaflet would be applying to the map and showed them in the header bar.
By putting them inside `<label>` clicking on them would also affect the radio buttons.

Where I am not quite happy with are explicit distances (read: `px` values) and the size of the marker compared to the text surrounding it.

[2019-10-05 15:23] k-nut commented on #158
@Ryuno-Ki yes, this project is still very much alive. Development slowed down a bit recently but please feel free to open new issues for your other ideas.

![typing GIF](https://media.giphy.com/media/13GIgrGdslD9oQ/giphy.gif)

[2019-10-13 12:29] Ryuno-Ki commented on #158
Last issue addressed in #314

[2020-01-05 16:42] mojoaxel opened #318 "Details URL for each market"
Feature Request:

**What?**
Make it possible to define an optional URL for each market with additional information.

**Why?**
Some markets have a website with additional information. It would be nice if these information could be added.

[2020-05-18 20:17] johnjohndoe commented on #27
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:17] #27 closed

[2020-05-18 20:18] johnjohndoe commented on #30
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:18] #30 closed

[2020-05-18 20:19] johnjohndoe commented on #40
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:19] #40 closed

[2020-05-18 20:19] johnjohndoe commented on #50
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:19] #50 closed

[2020-05-18 20:20] johnjohndoe commented on #65
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:20] #65 closed

[2020-05-18 20:20] johnjohndoe commented on #66
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:20] #66 closed

[2020-05-18 20:21] johnjohndoe commented on #68
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:21] #68 closed

[2020-05-18 20:21] johnjohndoe commented on #83
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:21] #83 closed

[2020-05-18 20:22] johnjohndoe commented on #86
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:22] #86 closed

[2020-05-18 20:23] johnjohndoe commented on #92
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:23] #92 closed

[2020-05-18 20:23] johnjohndoe commented on #116
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:23] #116 closed

[2020-05-18 20:24] johnjohndoe commented on #118
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:24] #118 closed

[2020-05-18 20:24] johnjohndoe commented on #124
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:24] #124 closed

[2020-05-18 20:25] johnjohndoe commented on #127
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:25] #127 closed

[2020-05-18 20:25] johnjohndoe commented on #139
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:25] #139 closed

[2020-05-18 20:26] johnjohndoe commented on #156
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:26] #156 closed

[2020-05-18 20:27] johnjohndoe commented on #158
Looks like resolved to me.

[2020-05-18 20:27] #158 closed

[2020-05-18 20:28] johnjohndoe commented on #162
I am now closing this issue due to inactivity over the last months. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:28] #162 closed

[2020-05-18 20:29] johnjohndoe commented on #167
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:29] #167 closed

[2020-05-18 20:29] johnjohndoe commented on #182
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:29] #182 closed

[2020-05-18 20:29] johnjohndoe commented on #183
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:29] #183 closed

[2020-05-18 20:30] johnjohndoe commented on #184
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:30] #184 closed

[2020-05-18 20:30] johnjohndoe commented on #252
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:30] #252 closed

[2020-05-18 20:31] johnjohndoe commented on #271
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:31] #271 closed

[2020-05-18 20:31] johnjohndoe commented on #281
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:31] #281 closed

[2020-05-18 20:32] johnjohndoe commented on #287
I am now closing this issue due to inactivity over the last years. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:32] #287 closed

[2020-05-18 20:32] johnjohndoe commented on #288
I am now closing this issue due to inactivity over the last months. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:32] #288 closed

[2020-05-18 20:33] johnjohndoe commented on #297
I am now closing this issue due to inactivity over the last months. If anyone is interested in the topic we can re-open it at any time. Thank you.

[2020-05-18 20:33] #297 closed

[2020-05-18 21:04] nise commented on #167
So no one wants to fell a decision about the requested feature? You could list feature request and invite users and developers to vote for them.

[2020-05-18 21:12] johnjohndoe commented on #167
The status quo of the project is that nobody is taking care of it in terms of maintenance and feature development. Over the last years I did the needed work to keep the website alive. All efforts from my side to promote the project (presentations, tweets, GitHub labels, word of mouth) seem to have failed. As long as there is no active developer base I see no point of keeping issues open. My experi

[2020-05-29 16:05] stefanw opened #327 "Piwik / Matomo Tracking via traffic.okfn.de"
Recent BGH rules have made it clear that cookie-based analytics need consent.

Please [disable tracking cookies](https://matomo.org/faq/general/faq_157/) and link to our [Datenschutzerklärung](https://okfn.de/impressum/#datenschutzerkl%C3%A4rung). Alternatively, please remove the tracking code.

[2020-06-03 15:59] johnjohndoe commented on #318
@mojoaxel Do you still want to work on this topic?

[2020-06-03 16:05] mojoaxel commented on #318
I like the idea but I have no time ATM. Please ask again in like 2 weeks 😉

It should not be a big issue to implement this...

[2020-07-09 07:40] johnjohndoe commented on #327
# Related

- https://matomo.org/faq/new-to-piwik/how-do-i-use-matomo-analytics-without-consent-or-cookie-banner/
- https://github.com/OParl/dev-website/pull/333

[2020-08-25 09:19] Roshanjossey opened #332 "Add Flea markets in Hamburg"
We have information about flea markets in Hamburg at https://www.hamburg.de/flohmarkt/.

# Flea markets that can be added

 - [x] Flohschanze  - Neuer Kamp 30
 - [x] Flea Dome Bahrenfelder Trabrennbahn
 - [ ] Kreativhaus, Eimsbüttel
 - [ ] Culture flea market around the Museum of Labor,  Barmbek
 - [ ] Flea dome on the Horner Rennbahn
 - [ ] People & Markets, Norderstedt
 - [ ] People & Markets, B

[2020-08-25 09:25] johnjohndoe commented on #332
Hi @Roshanjossey. That's great. Please have a look at the existing entries for Hamburg ([hamburg.json](https://github.com/wo-ist-markt/wo-ist-markt.github.io/blob/master/cities/hamburg.json?short_path=58fef46), [website](https://wo-ist-markt.de/#hamburg)) and add the missing onces and update outdated. Make sure to read the [contribution guide](https://github.com/wo-ist-markt/wo-ist-markt.github.io

[2020-08-25 09:29] johnjohndoe commented on #332
You might also want to contact the people who [contributed markets for Hamburg](https://github.com/wo-ist-markt/wo-ist-markt.github.io/pulls?q=is%3Apr+label%3A%22City%3A+Hamburg%22+) before: @alarmschaben, @lundelius, @flightofthepenguin

[2020-08-25 09:52] Roshanjossey commented on #332
@johnjohndoe, your contribution guide is excellent. Great job on that. :tada:

I've a question about the precision of co-ordinates. When I check on OpenStreetMaps, I get points with five decimal points precision. (eg 53.57622,9.89171)

From what I read from this comic, it's good enough
![image](https://user-images.githubusercontent.com/8488446/91160276-7b51e100-e6c9-11ea-8f76-0a7213637e74.png)

[2020-08-25 10:05] Roshanjossey commented on #318
@mojoaxel, do you have a design in mind for this change?

![image](https://user-images.githubusercontent.com/8488446/91161518-22834800-e6cb-11ea-916b-f7a8efc3b166.png)

![image](https://user-images.githubusercontent.com/8488446/91161344-efd94f80-e6ca-11ea-8f2d-57fae5c524a5.png)

![image](https://user-images.githubusercontent.com/8488446/91161646-4e9ec900-e6cb-11ea-84cd-0eaad73249a4.png)

[2020-08-25 10:19] johnjohndoe commented on #332
@Roshanjossey So, what is your exact question? If you want to go with five decimal points, that's fine with me. If you do not see a disadvantage, go for it.

[2020-08-25 11:15] Roshanjossey commented on #332
Gotcha, Yes, that was my question.

[2020-08-25 18:59] mojoaxel commented on #318
@Roshanjossey Thanks!
1. My favorite! Maybe with a text like "zur Markbetreiber" or "weitere Informationen!?
2. Links can get quite long. If only the domain would be shown this could also work.
3. This is to redundant for my taste!

[2020-09-28 19:04] Roshanjossey commented on #318
Hi @johnjohndoe, I'm having some trouble running this locally. I'm opening index.html in my local to try my changes. Please advise

[2020-09-29 08:45] Roshanjossey commented on #318
@johnjohndoe, It's working for me now. Thank you

[2020-09-30 16:04] johnjohndoe opened #336 "Outdated data source URLs"
The [build log of Travis CI](https://travis-ci.org/github/wo-ist-markt/wo-ist-markt.github.io/builds/731646243) as well as running the [tests locally](https://github.com/wo-ist-markt/wo-ist-markt.github.io#development) reveals that a bunch of data source URLs are outdated. HTTP status codes **other then** `200` are returned.

In the extreme `HTTP 404` is returned which means the website points use

[2020-10-06 14:48] mojoaxel opened #339 "replace moment.js"
[moment.js is deprecated](https://momentjs.com/docs/#/-project-status/). You should move to another library..

# TODOs
- Explain in this issue which alternative library is suitable and why. Is it well maintained? Pros & cons.

[2020-10-06 15:11] jamessral commented on #339
I could replace it with `date-fns` if you would like

[2020-10-06 15:39] johnjohndoe commented on #339
@mojoaxel Can you please moderate this issue? I do not have time these days.

[2020-10-06 17:22] mojoaxel commented on #339
@jamessral `date-fns` look fine to me. [Day.js](https://day.js.org/) would be even easier because it has a compatible api. Feel free choose a suitable alternative an provide a pull-request, I'll be happy to review it!

[2020-10-06 17:23] jamessral commented on #339
@mojoaxel The pros for `date-fns` are:
- It is one of the recommended libraries by the [Moment project](https://momentjs.com/docs/#/-project/status/])
- It is very modular and designed to be easy for code-splitting
- It uses an immutable API
- It has great docs
- It has good TS support

[2020-10-06 17:23] jamessral commented on #339
I can also look into `Day.js` for sure.

[2020-10-06 17:24] jamessral commented on #339
Day also looks quite good. I can work on converting this over to Day.js

[2020-10-06 17:33] mojoaxel opened #341 "External dependencies"
At the moment external dependencies are stores/copied to the `libs` folder. This is not a good practice. Dependencies should be loaded from `node_modules` or even bundled.

[2020-10-06 18:22] mojoaxel commented on #339
fixed by @jamessral with #343 :tada:

[2020-10-06 18:22] #339 closed

[2020-10-06 18:23] jamessral commented on #341
[Parcel](https://parceljs.org/) could potentially be an easy to use bundler for this project. It is easy to use at dev time and can be run as a script for builds quite easily too.

[2020-10-06 18:26] mojoaxel commented on #318
This has been implemented by @Roshanjossey in #337 :tada:

[2020-10-06 18:26] #318 closed

[2020-10-06 18:32] mojoaxel opened #344 "Load locations dynamically"
At the moment the user has to choose a location.

It would also be good markets that are near the users location get loaded automatically.

If the user navigates the map to another location the markets in this new location should also be loaded.

[2020-10-06 18:36] mojoaxel commented on #341
I'm more a fan of [rollup](https://rollupjs.org/) for such small projects but I have no problem with a parcel implementation.
@jamessral Feel free to provide a pull request but make sure the deployment [deployment](https://github.com/wo-ist-markt/wo-ist-markt.github.io#deployment) is still functional!

[2020-10-06 19:10] johnjohndoe commented on #344
Please note that there has been discussions/work around the topic. See #33 and #40 and maybe other closed issues/pulls. Most of them have been closed due to inactivity for a long time.

[2020-10-06 19:28] jamessral commented on #341
I've wanted to mess with rollup, so I could give that a try.

[2020-10-06 19:28] johnjohndoe opened #345 "Deployment / Travis CI / CryptographyDeprecationWarning"
Currently, the build logs ([example log](https://travis-ci.org/github/wo-ist-markt/wo-ist-markt.github.io/builds/733439856)) on Travis CI output the following warning:

[code]

I am not sure if this is something we need to fix.

---

/cc @k-nut

[2020-10-13 21:38] Ryuno-Ki commented on #341
Perhaps worth to create a separate bundle before switching over completely?
Looks like it gets a bit hairy.

I could imagine a multi-step approach:
1. Bundle with rollup, but with copied files from lib (to introduce the bundler and configure it)
2. Replace files from libs with a `require()` statement (perhaps gradually)

CSS could be indeed a bit tricky (as stated in #346).

[2020-10-14 03:05] jamessral commented on #341
I think that's certainly possible 👍

[2020-10-14 21:36] johnjohndoe commented on #341
_Just to communicate it:_ I stay out of this discussion since I have too less knowledge / experience of what would be a state of the art solution here.

[2020-10-15 03:25] jamessral commented on #341
The difficulty that I'm still having is the nature of the dependencies. The modules here expect to be put into a global namespace at the top level of the browser, but this is not how commonjs is working. I can `require` jquery and leaflet, but the leaflet extensions expect leaflet to be global available to monkey-patch when they initialize. They are trying to reach out to missing dependencies and

[2020-10-15 07:05] Ryuno-Ki commented on #341
What about `require` the dep and assign the variable to `window.leaflet`?

[2020-10-15 08:26] mojoaxel commented on #341
@jamessral I'm looking into it...

[2020-10-15 12:35] jamessral commented on #341
I tried, doing that, but assigning it to `window.L`, since the leaflet modules expect it to be `L`. I even have the global declaration in the rollup config. What ends up happening is that some, but not all, of the `control` module are missing in `L`.

[2020-10-15 14:26] mojoaxel commented on #341
@jamessral Maybe you want to merge https://github.com/jamessral/wo-ist-markt.github.io/pull/1

[2020-10-15 15:36] mojoaxel opened #347 "replace 'opening_hours' with 'simple-opening-hours'"
[opening_hours]() is very complex and has dependencies on moment (BIG!), [i18next-client](https://www.npmjs.com/package/i18next-client) and [suncalc](https://www.npmjs.com/package/suncalc).

It looks like [simple-opening-hours](https://www.npmjs.com/package/simple-opening-hours) also does, what we whant but with a much smaler footprint!

[2020-10-15 17:36] Ryuno-Ki commented on #341
Hm, what if you [create multiple bundles](https://rollupjs.org/guide/en/#configuration-files) (second code snippet mentions the use of an Array)?
One for each dependency, that gets outputted as script tag (so basically a noop).
Then, you could look whether you can bundle multiple plugins into one bundle and thus reduce the outputs (by creating a file that imports those dependencies).

The referenc

[2020-10-15 18:08] jamessral commented on #341
I've merged in that branch, so I'll see what the result looks like and how it builds. Thanks, @mojoaxel!

[2020-10-19 00:52] Kishore-abhimanyu commented on #347
can you assign this?

[2020-10-21 14:11] mojoaxel commented on #347
@Kishore-abhimanyu If you want to work on this, just do so and provide a pull-request :+1:

[2020-10-22 03:00] Kishore-abhimanyu commented on #347
Raised a pull request. Please review and merge it

[2020-11-20 16:42] johnjohndoe commented on #341
Not sure if this is related. Can someone explain why [this pull request](https://github.com/wo-ist-markt/wo-ist-markt.github.io/pull/350) is [not building on the CI](https://travis-ci.org/github/wo-ist-markt/wo-ist-markt.github.io/builds/744637187)?

[code]

[2020-11-26 19:55] johnjohndoe commented on #341
fyi, dev dependencies are resolved again: https://david-dm.org/wo-ist-markt/wo-ist-markt.github.io?type=dev

[2021-05-29 10:40] johnjohndoe commented on #345
The warning no longer occurs because we removed Python in #367. I am closing this issue now.

[2021-05-29 10:40] #345 closed

[2021-05-29 10:42] johnjohndoe commented on #341
@mojoaxel Are we done here?

[2021-05-29 10:44] johnjohndoe commented on #332
@Roshanjossey Are you still want to work on this issue? If not please close it.

[2021-05-29 10:48] johnjohndoe commented on #336
Automatic checks for outdated URLs has been addressed in #359. They are checked every time a new pull requests is created.

[2021-05-29 10:48] #336 closed

[2021-05-29 12:37] mojoaxel commented on #341
I'll have a look again as soon as possible...

[2021-06-02 12:12] Roshanjossey commented on #332
@johnjohndoe, no, I don't intend to work on this. I started this more as an entry level issue so more people could get started with contributing to this project. Closing

[2021-06-02 12:12] #332 closed

[2021-07-11 10:42] k-nut opened #379 "Tooltips do not open on Safari"
Whiles testing #378 I noticed that when I open the currently deployed website in desktop Safari (Version 14.1.1 (16611.2.7.1.4)) and click a marker to open a tooltip nothing happens. On mobile Safari some of the tooltips open, some also open and close immediately afterwards - I couldn't figure out a pattern that causes this though.

This does not seem to be a problem in Chrome or Firefox.

[2021-07-11 16:13] johnjohndoe commented on #379
Here is a few related posts:

- https://stackoverflow.com/questions/65369083/popup-does-not-open-when-clicking-on-marker-safari
- https://stackoverflow.com/questions/67406533/react-leaflet-popups-not-working-on-mobile-devices

[2021-07-12 20:04] #379 closed

[2021-08-28 14:27] johnjohndoe opened #388 "HTTP 303 status code for Basel"
When validating the data source URLs for all cities then Basel outputs ([example build](https://app.travis-ci.com/github/wo-ist-markt/wo-ist-markt.github.io/builds/236428151)):

[code]

Is there something wrong with the webserver in Basel or can we resolve the warning?

# Related
- [Market data validation](https://github.com/wo-ist-markt/wo-ist-markt.github.io/blob/master/CONTRIBUTING.md#market-da

[2021-08-28 14:44] tursics commented on #388
New URI may be https://www.marketing.bs.ch/messen-maerkte.html (with .html).

[2021-08-28 14:50] johnjohndoe commented on #341
It looks like we can close this issue since #348 replaced initial work in #346. If someone has something left please comment here. Otherwise, I will close this issue in a few days. @mojoaxel, feel free to close your issue yourself.

[2021-08-28 14:58] johnjohndoe commented on #388
@tursics Same error.

[2021-08-28 16:23] ubergesundheit commented on #388
Looks like a misconfiguration on their side

[code]

[2021-08-28 16:34] #341 closed

[2021-10-09 18:56] mojoaxel commented on #388
It look to me like the webserver from basel does not allow HEAD requests:

[code]

I'll update the script to fallback to `GET` if `HEAD` returns an error.

Another alternative would be to contact the admins and ask them to fix there server, but this may take month...

[2021-10-11 07:45] mojoaxel opened #407 "Validate warning: Gelsenkirchen"
The following warning shows up when the validation script is executed:

[code]

[2021-11-03 10:15] #407 closed

[2021-11-22 12:11] johnjohndoe commented on #347
:heavy_check_mark: _moment.js_ has been replaced with _day.js_ in #343
Is replacing _opening_hours.js_ still a topic?

[2021-11-23 14:46] mojoaxel commented on #347
Yes. This still would simplify  things but also remove some functionality.

[2021-11-23 15:00] johnjohndoe commented on #347
Ooh. Like what? Do the libraries not provide the same functionality?

[2021-11-23 15:28] mojoaxel commented on #347
[simple-opening-hours](https://www.npmjs.com/package/simple-opening-hours#supported-opening_hours-examples) "only supports the human readable parts".

[opening_hours ](https://www.npmjs.com/package/opening_hours) supports [a much more compley syntax](https://wiki.openstreetmap.org/wiki/Key:opening_hours/specification). I think we don't need this over-engineered syntax and should stick to the "huma

[2021-11-23 15:37] johnjohndoe commented on #347
Sounds reasonable at first hand. It would be interesting to find out **how many** of the current data points cannot be handled by _days.js_. The result would help to support the decision whether a migration make sense.

Related: Yesterday, I reached out to the Berlin Senat to sort out the "sonstige" data points which **cannot** be parsed by _opening_hours.js_. Pending response.

[2021-12-01 10:19] johnjohndoe opened #430 "Leaflet map zooms when being dragged"
# Context
- Commit: 3d44e8a5b6abdd9619676bffd327aac4e30598d5
- dependencies:
[code]

# How to reproduce
1. Click and hold the map using the mouse
2. Drag the map by moving the cursor

# Observed behavior
- The is map moved **and zoomed**.

# Expected behavior
- The map is moved.

# Related
- The map at https://wo-ist-testzentrum.de behaves as expected.

[2021-12-01 10:21] johnjohndoe commented on #430
@joergreichert fyi

[2021-12-03 15:09] johnjohndoe commented on #430
No longer reproducible for me. Closing for now.

[2021-12-03 15:09] #430 closed

[2021-12-31 08:17] 0xErnie opened #442 "Doppelte Datentöpfe"
Moin,

ich bin auf euch über den rc3 gekommen und ich habe Fragen.

Warum pflegt ihr hier eure eigene Datenbasis, wenn es mit OpenStreetMap schon einen Datentopf für genau diese Daten gibt, die leichter gepflegt werden können und teilweise auch aktueller sind?
Klingt für mich wie doppelte Arbeit bei der Pflege.

Siehe https://farmshops.eu/ bzw https://github.com/CodeforKarlsruhe/direktvermarkter,

[2021-12-31 20:27] johnjohndoe commented on #442
Hi @0xErnie. I hope it's okay when we stick to English - so people from different background can participate here.

Thanks for bringing up the topic. It has been discussed before. To avoid the duplication I like to invite you to to read up in issue #252 what was stated there.
I am happy to discuss old or new aspects or provide guidance if you want to contribute your ideas to this project.

Friendl

[2022-03-07 09:45] johnjohndoe commented on #442
@0xErnie Are you interested to keep the discussion going? If not I would think we could close this issue.

[2022-03-07 09:46] johnjohndoe commented on #347
Meanwhile, the number of "sonstige" markets has been reduced for Berlin. Still some to be sorted out.

[2022-03-07 15:57] 0xErnie commented on #442
Moin,

sorry, gerade bei komplexen Themen bleibe ich lieber bei meiner Muttersprache um Missverständnisse zu vermeiden, wenn das geschriebenen statt dessen doppelt übersetzt werden müsste.

Was das verlinkte Ticket angeht: Da geht es um das Hinzufügen von Michzapfanlagen und Hofläden in die Karte was dem [inofiziellen Mission Statement](https://github.com/wo-ist-markt/wo-ist-markt.github.io/issues

[2022-03-15 09:45] johnjohndoe commented on #442
Ich stimme dir zu. Da es niemanden gibt, die/der sich um alle Städte kümmert, veraltet der Stand der statischen Daten sehr schnell. Nur in den Städten, in denen Personen aktiv sind, sind auch die Marktdaten aktuell.

Das stimmt auch. Ich bin selbst bei OpenStreetMap aktiv. Ich nutze auch Programme, die auf der Datenbasis arbeiten. Ich sehe auch ganz klar die Doppelung und den Nachteil der statisch

[2022-06-16 16:02] joergreichert opened #515 "Default city is loaded when closing pop up with cross"
How to reproduce:

1. select city diffent then Karsruhe, e.g.: https://www.wo-ist-markt.de/#bad-homburg
2. click on an entry at the map to open pop up
3. click on cross in the right upper corner to close the pop up

expected:

- stick to https://www.wo-ist-markt.de/#bad-homburg

actual:

- https://www.wo-ist-markt.de/#karlsruhe is loaded

[2022-06-17 13:55] johnjohndoe commented on #515
Thanks for discovering this. Confirmed: same behavior for me here. Tested on Brave for Android.